doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Web App
    link(rel="stylesheet" href="index.scss")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre")
  body
    #app
    script(src="index." + process.env.MSAB_ENV + ".js")
