@charset "utf-8";
$msab-purple: #563281;
$msab-grey: #565c65;
$info: $msab-purple;
$primary: #217575;
$teal: #acdcdc;
$light-teal: #d8eeee;
$msab-blue: #2a4ea5;

@import '../node_modules/bulma/bulma.sass';

button:active {
  background-color: $msab-blue !important;
}
a.button:active {
  background-color: $msab-blue !important;
  color: white !important;
}
a:active {
  color: $msab-blue !important;
}

h1 {
  font-family: 'Frank Ruhl Libre', serif;
}

h2 {
  font-family: 'Asap', sans-serif;
}

label {
  font-family: 'Asap', sans-serif;
}

.msab-has-background-grey {
  background-color: $msab-grey;
}

.msab-has-text-grey {
  color: $msab-grey !important;
  font-family:'Asap', sans-serif !important;
}

.msab-has-background-teal {
  background-color: $teal !important;
}

.msab-has-text-purple {
  color: $msab-purple;
}

.msab-has-background-purple {
  background-color: $msab-purple;
}
.msab-section-form {
  padding: 1rem 1.5rem;
}
.msab-loading {
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.msab-filter {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 33px;
  color: white;
}

.msab-loading-ellipsis {
  font-size: 30px;
}

.msab-loading-ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.msab-width-70 {
  width: 70%;
}
.msab-loading-footer {
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.msab-footer {
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.msab-tiny-text {
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
}

.msab-filter {
  padding: 5px;
  padding-left: 15px;
}

.msab-margin-10 {
  margin-top: 10px;
  margin-right: 10px;
}

.location-name {
  font-family: Asap;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
}

.msab-location-address {
  font-family: 'Asap', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.tag-text {
  font-family: Asap;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
}

.msab-location-description {
  font-family: 'Asap', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-top: -0.5rem;
}

.address-level {
  margin-bottom: 0px !important;
}

.header-section {
  padding-bottom: 0px;
  background-color: $msab-purple;
}

li:not(:first-child) {
  padding-top: 15px;
}
.msab-margin-top {
  margin-top: 20px;
}
.msab-margin-bottom {
  margin-top: 20px;
}

.bold {
  font-weight: 500;
}
.margin-left-10 {
  margin-left: 10px;
}

.msab-description {
  overflow-wrap: break-word;
}

.section {
  padding: 1rem;
}

.logosize {
  width: 96px;
}

.textarea {
  color: #565c65;
}

.subtitle.is-5 {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #565c65;
}

.subtitle.is-6 {
  font-size: 1rem;
  color: #565c65;
}

.msab-has-text-grey-bold {
  font-weight: 600;
  color: #565c65;
}

.msab-has-text-grey-small {
  font-size: 0.85rem;
  line-height: 1.2rem;
  color: #565c65;
  margin-bottom: 0.75rem !important;
}

.subtitle:not(.is-spaced) + .title {
  margin-top: 0;
}

.body {
  color: #565c65;
}

.field.is-grouped {
  padding-bottom: 1.5rem;
}

.button.is-primary {
  font-weight: 600;
  color: #ffffff !important;
}

.field.has-addons {
  margin-top: 1rem;
}

.media-left {
  margin-top: 8px;
  margin-right: 0px;
}

.has-text-grey {
  color: #565c65 !important;
}

.thumbsize {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.tag:not(body) {
  font-size: 0.9rem;
  font-variant-caps: all-small-caps;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 1.5em;
}

.level.is-mobile .level-item:not(:last-child) {
  margin-right: 0.3rem;
}

.msab-location-media {
  padding-bottom: 20px;
  border-bottom: 1px #ebeaeb solid;
}

.text-field {
  margin-bottom: 2rem !important;
}

.msab-pointer {
  cursor: pointer;
}

.msab-margin-lr {
  margin-left: 10px;
  margin-right: 10px;
}

.delete, .modal-close {
    background-color: #A9AEB1;
    margin-left: 10px;
}

a.has-text-primary:hover, a.has-text-primary:focus {
    color: #2A4EA5 !important;
}

a {
  color: #217575 !important;
}

a:hover {
  color: #2A4EA5 !important;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #2A4EA5;
}
