@charset "utf-8";
$msab-purple: #563281;
$msab-grey: #565c65;
$info: $msab-purple;
$primary: #217575;
$teal: #acdcdc;
$light-teal: #d8eeee;

@import '../node_modules/bulma/bulma.sass';

h1 {
  font-family: 'Frank Ruhl Libre', serif;
}

h2 {
  font-family: 'Asap', sans-serif;
}

label {
  font-family: 'Asap', sans-serif;
}

.msab-has-background-grey {
  background-color: $msab-grey;
}

.msab-has-text-grey {
  color: $msab-grey;
}

.msab-has-background-teal {
  background-color: $teal;
}

.msab-has-text-purple {
  color: $msab-purple;
}

.msab-has-background-purple {
  background-color: $msab-purple;
}

.msab-footer {
  padding-top: 5px;
  padding-bottom: 40px;
  height: 28px;
}

.msab-filter {
  padding: 5px;
}

.location-name {
  font-family: 'Asap', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.header-section {
  padding-bottom: 0px;
  background-color: $light-teal;
}

li:not(:first-child) {
  padding-top: 15px;
}
.msab-location-media {
  padding-bottom: 15px;
  border-bottom: 1px black solid;
}

.bold {
  font-weight: 600;
}
.margin-left-10 {
  margin-left: 10px;
}
