@charset "utf-8";
@import '../node_modules/bulma/bulma.sass';

h1 {
  font-family: 'Frank Ruhl Libre', serif;
}

label {
  font-family: 'Asap', sans-serif;
}

.location-name {
  font-family: 'Asap', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
