service: msab-arts-locator

plugins:
  - fullstack-serverless
  - serverless-stack-output

custom:
  domain: ${opt:stage}.${env:DOMAIN_NAME}
  region: ${opt:region, 'us-east-2'}
  certificateId: ${env:CERTIFICATE_ID} # Required by AWS to be in us-east-1
  apiKey: ${env:GOOGLE_GEOCODING_API_KEY} #api key to use google maps api
  captchaKey: ${env:GOOGLE_CAPTCHA_KEY}

  output:
    file: .serverless/stack.json

  fullstack:
    domain: ${self:custom.domain}
    certificate:
      Fn::Join:
        - ''
        - - 'arn:aws:acm:'
          - 'us-east-1'
          - ':'
          - 'Ref': 'AWS::AccountId'
          - ':certificate/'
          - '${self:custom.certificateId}'
    bucketName: '${self:custom.region}'
    distributionFolder: dist # Path to the client assets to be uploaded to S3
    indexDocument: index.html # The index document to use
    errorDocument: error.html # The error document to use
    singlePageApp: true # If true 403 errors will be rerouted (missing assets) to your root index document to support single page apps like React and Angular where the js framework handles routing
    compressWebContent: true # Use compression when serving web content
    apiPath: api # The path prefix for your API Gateway lambdas. The path for the lambda http event trigger needs to start with this too eg. api/myMethod
    clientCommand: npm i && npm run build
    clientSrcPath: . # The path to where you want to run the clientCommand
    # logging:
    #   bucket: "${self:custom.region}-${self:custom.domain}-logs"
    #   prefix: logs
    minimumProtocolVersion: TLSv1.2_2018
    priceClass: PriceClass_100
    objectHeaders:
      index.html:
        - name: Cache-Control
          value: public, must-revalidate, proxy-revalidate, max-age=0

provider:
  name: aws
  runtime: nodejs8.10
  stage: ${opt:stage, 'dev'}
  region: ${self:custom.region}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      # Restrict our IAM role permissions to
      # the specific table for the stage
      Resource:
        - 'Fn::GetAtt': [GisTable, Arn]
    - Effect: 'Allow'
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:BatchGetItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:BatchWriteItem
      Resource:
        - Fn::GetAtt: [GisTable, Arn]
        - Fn::Join:
            - '/'
            - - Fn::GetAtt:
                  - GisTable
                  - Arn
              - index
              - geohash-index
        # - arn:aws:dynamodb:${self:custom.region}:${opt:accountId}:table/${self:service}-gis-${opt:stage}
        # - arn:aws:dynamodb:${self:custom.region}:${opt:accountId}:table/${self:service}-gis-${opt:stage}/index/*

package:
  exclude:
    - .cache/**
    - .serverless/**
    - coverage/**
    - images/**
    - sass/**
    - presenter/**
    - views/**
    # - node_modules/**

functions:
  getLocations:
    handler: environments/lambda/handlers.getLocations
    environment:
      GIS_TABLE: ${self:service}-gis-${opt:stage}
    timeout: 30
    events:
      - http:
          path: ${self:custom.fullstack.apiPath}/v1/get-locations
          method: get
          cors: true

  saveLocation:
    handler: environments/lambda/handlers.saveLocation
    environment:
      GIS_TABLE: ${self:service}-gis-${opt:stage}
      API_KEY: ${self:custom.apiKey  }
      CAPTCHA_KEY: ${self:custom.captchaKey}

    timeout: 30
    events:
      - http:
          path: ${self:custom.fullstack.apiPath}/v1/save-location/
          method: post
          cors: true

resources:
  Outputs:
    FullstackDomain:
      Value: ${self:custom.domain}
  Resources:
    GisTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-gis-${opt:stage}
        BillingMode: PAY_PER_REQUEST
        KeySchema:
          - AttributeName: hashKey
            KeyType: HASH
          - AttributeName: rangeKey
            KeyType: RANGE
        AttributeDefinitions:
          - AttributeName: hashKey
            AttributeType: N
          - AttributeName: rangeKey
            AttributeType: S
          - AttributeName: geohash
            AttributeType: N
        LocalSecondaryIndexes:
          - IndexName: geohash-index
            KeySchema:
              - AttributeName: hashKey
                KeyType: HASH
              - AttributeName: geohash
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
